{
    "exec-start": "/service/compositor",
    "restart": true,
    "environ": [
        "XDG_RUNTIME_DIR=/cache"
    ],
    "depends": [
        "udev-trigger"
    ]
}