name: Build And Release
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: build
    runs-on: self-hosted
    strategy:
      matrix:
       arch: [amd64]
    steps:
      - uses: actions/checkout@v5

      - name: Build
        run: GOARCH=${{matrix.arch}} CACHE_PATH=${{ secrets.CACHE_PATH }} make -j$(nproc)
      
      - name: Compress Image
        run: zstd -19 ${{ secrets.CACHE_PATH }}/${{matrix.arch}}-linux-musl/images/avyos-${{matrix.arch}}.img