name: Build And Release
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  golangci:
    name: lint
    runs-on: self-hosted
    strategy:
      matrix:
       arch: [amd64]
    steps:
      - uses: actions/checkout@v5

      - name: Build
        run: GOARCH=${{matrix.arch}} make -j$(nproc)
      
      - name: Compress Image
        run: zstd -19 _out/${{matrix.arch}}-linux-musl/images/avyos-${{matrix.arch}}.img